<div @fade *ngIf="blog" class="row no-gutters">
    <div class="col">
        <div class="row no-gutters justify-content-center mb-3">
            <div class="col-11 col-lg-6">
                <h1 class="text-center blog-heading">Lorem ipsum dolor, sit amet consectetur adipisicing elit</h1>
            </div>
        </div>
        <div class="row no-gutters justify-content-center mb-3">
            <div class="col-11 col-lg-5">
                <img src="http://localhost:5000/images/{{blog.imageUrl}}" alt="" class="w-100">
            </div>
        </div>
        <div class="row no-gutters justify-content-center mb-3">
            <div class="col-11 col-lg-6">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit velit vitae et animi quaerat fuga in earum error iure natus possimus odit obcaecati excepturi perferendis eligendi, porro ad sed!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit velit vitae et animi quaerat fuga in earum error iure natus possimus odit obcaecati excepturi perferendis eligendi, porro ad sed!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit velit vitae et animi quaerat fuga in earum error iure natus possimus odit obcaecati excepturi perferendis eligendi, porro ad sed!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit velit vitae et animi quaerat fuga in earum error iure natus possimus odit obcaecati excepturi perferendis eligendi, porro ad sed!</p>
            </div>
        </div>
    </div>
</div>