<footer *ngIf="show">
    <div class="row no-gutters justify-content-center h-100">
        <div class="col-auto d-flex align-items-center">
            <span class="footer-items-container">
                <a class="footer-item px-3" routerLink="/about">
                    Quién Soy
                </a>
                <a class="footer-item px-3" routerLink="/blog">
                    Blog
                </a>
                <a class="footer-item px-3" href="#">
                    Recomendados
                </a>
                <a class="footer-item px-3" href="https://www.instagram.com/steffanimendozza">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="footer-item px-3" href="#">
                    <i class="far fa-envelope"></i>
                </a>
            </span>
        </div>
    </div>
</footer>