<header @fade class="position-absolute w-100">
    <div class="row no-gutters">
        <div class="col">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" routerLink="/home">VASA</a>
                <button class="navbar-toggler mobile-only" (click)="openMenu()" type="button">
                    <mat-icon>menu</mat-icon>
                </button>
                <div class="navbar-nav ml-auto desktop-only">
                    <a class="nav-item nav-link" routerLink="/about">Quién soy</a>
                    <a class="nav-item nav-link" routerLink="/blog">Blog</a>
                    <!-- <a class="nav-item nav-link" href="#">Recomendados</a> -->
                    <a class="nav-item nav-link icon" href="https://www.instagram.com/soyvasa" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="nav-item nav-link icon" href="mailto:intothevasa@gmail.com">
                        <i class="far fa-envelope"></i>
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>