<div @fade class="row no-gutters mt-3 mb-5 justify-content-center">
    <div class="col-10 col-lg-7">
        <div class="home-img-container">
            <img src="../../../../assets/home.jpg" alt="" class="home-img">
        </div>
    </div>
    <div class="col-10 col-lg-5 mt-5 mt-lg-0 home-txt-container d-flex align-items-center">
        <div class="home-txt">
            <div>
                PARA TI, GUÍA PARA UNA VIDA EN EQUILIBRIO.
            </div>
            <div class="text-center mt-5 mt-lg-4">
                <a class="py-2 px-3 download-btn" target="_blank" href="https://bit.ly/39xTVmS">Descargar</a>
            </div>
        </div>
    </div>
</div>