img.home-img {
  width: 100%;
}

.home-img-container {
  padding: 0px 32px;
}

.home-txt-container {
  padding: 0px 16px 0px 0px;
  font-size: 25px;
}

a.download-btn {
  background-color: #fff;
  border: 2px solid #000;
  text-decoration: none;
  transition: 0.3s;
  color: #000;
}

a.download-btn:hover {
  background-color: #000;
  color: #fff;
}

footer {
  height: 100px;
  background-color: #000;
  a.footer-item {
    color: #fff;
    text-decoration: none;
  }
}
