<div @fade class="row no-gutters mt-4 mt-lg-3 mb-5 justify-content-center">
    <div class="col-10 col-lg-7">
        <div class="home-img-container">
            <img src="../../../../assets/home.jpg" alt="Libro, taza y piedras" class="home-img">
        </div>
    </div>
    <div class="col-10 col-lg-5 mt-5 mt-lg-0 home-txt-container d-flex align-items-center">
        <div class="home-txt">
            <div class="mb-3 mb-lg-4">
                <h1 class="home-title font-weight-bold">
                    Crea tu camino hacia una vida llena de conciencia, propósito y enfoque.
                </h1>
            </div>
            <div class="font-weight-bold home-subtitle my-4">
                Para ti, guía para una vida en equilibrio.
            </div>
            <div class="text-center">
                <a class="py-2 px-3 download-btn" target="_blank" href="https://bit.ly/35ytWdP">Descargar</a>
            </div>
        </div>
    </div>
</div>