img.home-img {
  width: 100%;
}

div.home-txt-container {
  font-size: 25px;
}

a.download-btn {
  background-color: #fff;
  border: 2px solid #000;
  text-decoration: none;
  transition: 0.3s;
  color: #000;
}

a.download-btn:hover {
  background-color: #000;
  color: #fff;
}
