// div.img-container {
//   height: 100vh;
//   margin-top: -67.8px;
//   position: relative;
//   span.arrow-down {
//     position: absolute;
//     margin-left: auto;
//     margin-right: auto;
//     left: 0;
//     right: 0;
//     height: -webkit-min-content;
//     height: -moz-min-content;
//     height: min-content;
//     width: -webkit-min-content;
//     width: -moz-min-content;
//     width: min-content;
//     -webkit-animation: MoveUpDown 1.5s linear infinite;
//     animation: MoveUpDown 1.5s linear infinite;

//     @keyframes MoveUpDown {
//       0%,
//       100% {
//         bottom: 50px;
//       }
//       50% {
//         bottom: 70px;
//       }
//     }
//   }
//   img.blog-page-img {
//     width: 100%;
//     height: 100%;
//   }
// }

span.heading {
  font-size: 30px;
}

div.category {
  height: 150px;
  position: relative;
  margin-bottom: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  a {
    color: #777;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    div {
      position: relative;
      font-size: 50px;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    div:hover {
      color: #000;
    }
  }
}

div.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: opacity(40%);
  filter: opacity(40%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

div.category:hover::before {
  filter: opacity(55%);
}

div.category.belleza::before {
  background-image: url(../../../../assets/belleza.jpg);
}

div.category.fitness::before {
  background-image: url(../../../../assets/fitness.jpg);
}

div.category.comida::before {
  background-image: url(../../../../assets/carbonara.jpg);
}

div.category.mente::before {
  background-image: url(../../../../assets/mente.jpg);
}

@media screen and (orientation: landscape) {
  img.portrait {
    display: none !important;
  }
}

@media screen and (orientation: portrait) {
  img.landscape {
    display: none !important;
  }
}



img.blogs-img {
  width: 100%;
}

div.blogs-txt-container {
  font-size: 20px;
  font-style: italic;
}

a.download-btn {
  background-color: #fff;
  border: 2px solid #000;
  text-decoration: none;
  transition: 0.3s;
  color: #000;
}
