span.heading {
  font-size: 30px;
}

div.category {
  height: 150px;
  position: relative;
  margin-bottom: 25px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  a {
    color: #777;
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    div {
      position: relative;
      font-size: 35px;
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
    }
    div:hover {
      color: #000;
    }
  }
}

div.category::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-filter: opacity(40%);
  filter: opacity(40%);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

div.category:hover::before {
  -webkit-filter: opacity(55%);
          filter: opacity(55%);
}

div.category.belleza::before {
  background-image: url(../../../../assets/belleza.jpg);
}

div.category.fitness::before {
  background-image: url(../../../../assets/fitness.jpg);
}

div.category.comida::before {
  background-image: url(../../../../assets/carbonara.jpg);
}

div.category.mente::before {
  background-image: url(../../../../assets/mente.jpg);
}

@media screen and (orientation: landscape) {
  img.portrait {
    display: none !important;
  }
}

@media screen and (orientation: portrait) {
  img.landscape {
    display: none !important;
  }
}

img.blogs-img {
  width: 100%;
}

div.blogs-txt-container {
  font-size: 20px;
  font-style: italic;
}

div.loading {
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s;
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}