div.blogs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 40px 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 30px 0px;
  padding: 0 20px;
}

div.quote {
  font-style: italic;
  p.author {
    font-weight: bold;
  }
}