<div @fade class="row no-gutters mt-2 mb-5 justify-content-center">
    <div class="col-10 col-lg-5">
        <div class="about-text-container">
            <span class="about-text">
                Hola, mi nombre es Steffani. Apasionada por el conocimiento que explora lo que significa vivir una vida en
                equilibrio creando tu propio camino.
                <br><br>
                La idea de este blog es que encuentres la inspiración que necesitas para lograr ser tu mejor versión.
                <br><br>
                Si quieres enviarme un mensaje personal puedes encontrarme en Instagram.
            </span>
        </div>
        <div class="about-img-container mt-4">
            <img src="../../../../assets/about.jpg" alt="" class="about-img">
        </div>
    </div>
</div>