<div @fade class="row no-gutters mt-2 mt-lg-4 mb-5 justify-content-center">
    <div class="col-10 col-lg-5">
        <div class="about-text-container">
            <span class="about-text">
                Hola, si aún no me conoces soy Steffani. Te contaré un poco de que va todo esto. La idea de este blog
                nace con el deseo de aportar valor desde lo que soy y pues lo que soy es una apasionada por el
                conocimiento que le encanta soñar en grande y que está segura de que todos estamos en este mundo para
                crear nuestro camino y con esto me refiero a poder descubrir qué nos apasiona, qué nos llena de real
                felicidad. Mi intención es te lleves herramientas que te sirvan para tener una vida en equilibrio en la
                búsqueda de ser tu mejor versión.
                <br><br>
                Te invito a ser parte de una comunidad, donde podremos crecer y aprender juntos. Si quieres contactarme
                escríbeme por instagram o por correo, estoy atenta para que conversemos.
                <br><br>
                Un abrazo y bienvenido.
            </span>
        </div>
        <div class="about-img-container mt-4">
            <img src="../../../../assets/about.jpg" alt="Pared con fotos y sombrero" class="w-100">
        </div>
    </div>
</div>