<div class="blog">
    <a href="#">
        <div class="blog-img-container">
            <img src="http://localhost:5000/images/{{blog.imageUrl}}" alt="" class="blog-img">
        </div>
        <div class="blog-intro">
            <div class="blog-title">{{blog.title}}</div>
            <div class="blog-content">{{ blog.content.length>350 ? (blog.content | slice:0:350) + '...' : (blog.content) }}</div>
        </div>
        <div class="blog-link">
            Leer más
        </div>
    </a>
</div>