/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}


// MOBILE
@media screen and (max-width: 991px) {
  .desktop-only {
    display: none !important;
  }
  footer {
    font-size: 14px;
  }
}


// DESKTOP
@media screen and (min-width: 992px) {
  div.home-txt-container {
    padding: 0px 32px 0px 0px !important; 
  }
  div.home-img-container {
    padding: 0px 32px;
  }
  div.blogs-txt-container {
    padding: 0px 32px 0px 0px !important; 
  }
  div.blogs-img-container {
    padding: 0px 32px;
  }
  .mobile-only {
    display: none !important;
  }
  h1.home-title {
    font-size: 35px !important;
  }
  div.home-subtitle {
    font-size: 20px !important;
  }
}
